{% extends "layout.html" %}

{% block title %}
    About SMART Goals
{% endblock %}

{% block main %}
    <div class="left-text">
        <h1>Have a large goal but never get to it?</h1>
        <h2>We help you achieve it one small step at a time.</h2>
        <br>
        <div class=left-text>
            <p>SMART goals help push you further, give you a sense of direction, and help you organize and reach your goals.</p>
            <p>SMART goals are:</p>
            <ul>
                <li><b>S</b>pecific (simple, sensible, significant).</li>
                <li><b>M</b>easurable (meaningful, motivating).</li>
                <li><b>A</b>chievable (agreed, attainable).</li>
                <li><b>R</b>elevant (reasonable, realistic and resourced, results-based).</li>
                <li><b>T</b>ime bound (time-based, time limited, time/cost limited, timely, time-sensitive).</li>
            </ul>
            <p>Our site helps you make smart goals by allowing you to search or upload your own main goal broken down into smaller steps. Then, you can add each step to your Google tasks on a set frequency from a selected start date so you can commit to taking those steps. You can view these tasks from your <a href="https://calendar.google.com/">Google Calendar</a>, <a href="https://mail.google.com/">Gmail</a>, and the Google Tasks app.</p>
            <p>If you <a href="/login">sign in to Google</a> from our website, you can keep track of the number of goals you added to your calendar as well as set goals private only to you if you <a href="/upload">upload</a> your own.</p>
    </div>
{% endblock %}