{% extends "layout.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block main %}
    <h3>{{ name }}</h3>
    <h5>{{ goaldata["desc"] }}</h5>
    <div class="leftright">
        <div class="left">
            <ol>
                {% for step in steps %}
                    <li>{{ step["step"] }}</li>
                    <ul>
                        <li>{{ step["description"] }}</li>
                    </ul>
                {% endfor %}
            </ol>
        </div>
        <div class="right">
            <form action="{{ '/goals/' + goal_id }}" method="post">
                <div class="form-group">
                        Start Date: <input autocomplete="off" autofocus class="form-control" name="startdate" placeholder="Start Date" type="date" required>
                </div>
                <script>
                        function toggleField(hideObj,showObj){
                          hideObj.disabled=true;        
                          hideObj.style.display='none';
                          showObj.disabled=false;   
                          showObj.style.display='inline';
                          showObj.focus();
                        }
                        </script>
                <div class="form-group">
                        Frequency: <select name="frequency"
                                           id="frequency"
                                           onchange="if(this.options[this.selectedIndex].value=='customOption'){
                                           toggleField(this,this.nextSibling);
                                           this.selectedIndex='0';
                                            }">
                            <option value=1>Daily</option>
                            <option value=2>Every other day</option>
                            <option value=7>Weekly</option>
                            <option value=14>Every other week</option>
                            <option value="customOption">Custom</option>
                        </select>
                        <input name="days" style="display:none;" disabled="disabled" 
                        onblur="if(this.value==''){toggleField(this,this.previousSibling);}">
                </div>
                <button class="btn btn-primary" type="submit">Go!</button>
                Please remain on this page until complete. 
            </form>    
        </div>
    </div>


{% endblock %}