{% extends "layout.html" %}

{% block title %}
    Goal
{% endblock %}

{% block main %}
    <form action="/goal" method="post">
        <div class="form-group">
                Start Date: <input autocomplete="off" autofocus class="form-control" name="startdate" placeholder="Start Date" type="date">
        </div>
        <div class="form-group">
                Frequency: <select name="frequency" id="frequency">
                    <option value="select-freq">Select...</option>
                    <option value="daily">Daily</option>
                    <option value="other-day">Every other day</option>
                    <option value="weekly">Weekly</option>
                    <option value="other-week">Every other week</option>
                    <option value="Custom">Custom</option>
                </select>
        </div>
        <button class="btn btn-primary" type="submit">Go!</button>
    </form>    


{% endblock %}