{% extends "layout.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block main %}
{% if (goaldata["private"] != 1) or (current_user.is_authenticated and goaldata["user_id"] == user_id) %}
    <h3>{{ name }}</h3>
    <h5>{{ goaldata["DESC"] }}</h5>
    {% if (goaldata["private"] == 1) %}
        This goal is private to you.
    {% else %}
        {{ goaldata["added"] }} people added this goal
    {% endif %}
    <div class="leftright">
        <div class="left">
            <br>
            <ol>
                {% for step in steps %}
                    <li>{{ step["step"] }}</li>
                    {% if step["description"] %}
                        <ul>
                            {% if 'http' in step["description"] %}
                                <li><a href={{ step["description"] | regex_search('https?(\\S*)') }}>{{ step["description"] }}</a></li>
                            {% else %}
                                <li>{{ step["description"] }}</li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </ol>
            <form action="{{ '/download/' + goal_id }}" method="get">
                <button class="btn btn-primary" type="submit">Download & Modify</button>
                <br>{{ goaldata["branched"] }} people branched this goal.
                <br>Reupload <a href="/upload">here</a> to add your own changes.
            </form>
        </div>
        <div class="right">
            <form action="{{ '/goals/' + goal_id }}" method="post">
                <div class="form-group">
                        Start Date: <input autocomplete="off" autofocus class="form-control" name="startdate" placeholder="Start Date" type="date" required>
                </div>
                <div class="form-group">
                    Frequency: 
                    <input type="text" placeholder="Number of days" list="frequency" name="frequency">
                    <datalist name="frequency" id="frequency">
                        <option value=1>Daily</option>
                        <option value=2>Every other day</option>
                        <option value=7>Weekly</option>
                        <option value=14>Every other week</option>
                    </datalist>
                </div>
                <button class="btn btn-primary" type="submit" value="Submit">Go!</button>
            </form>
            <br>
            Please remain on this page until complete.     
        </div>
    </div>
{% else %}
    <h1>This goal is private. Sorry!</h1>
{% endif %}
{% endblock %}