<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-signin-client_id" content="303120742144-oa0smbgd3o6799hgmaa9lhl3q921ga5q.apps.googleusercontent.com">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>


        <title>One Small Step: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="blue">One Small Step</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mt-2">
                    <li class="nav-item"><a class="nav-link" href="/upload">Upload</a></li>
                </ul>
            </div>
            {% if current_user.is_authenticated %}
                <img src={{ current_user.profile_pic }} alt="Google profile pic"></img>
                <a class="button" href="/logout">Logout</a> 
            {% else %}
                <a class="button" href="/login">Google Sign-In</a>
            {% endif %}
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <!-- The core Firebase JS SDK is always required and must be listed first
        <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script> -->

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries 
        <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script> -->

        <!--<script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyA2vmyl0gALdmnWgp-4eXSH7-gZPA7Cyns",
            authDomain: "one-small-step-7bbfc.firebaseapp.com",
            databaseURL: "https://one-small-step-7bbfc.firebaseio.com",
            projectId: "one-small-step-7bbfc",
            storageBucket: "one-small-step-7bbfc.appspot.com",
            messagingSenderId: "60915909030",
            appId: "1:60915909030:web:5a451673ed3fb41163cf67",
            measurementId: "G-EXTVN53M2K"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        </script>-->

    </body>

</html>
