{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <form action="/upload" method="post" enctype=multipart/form-data>
        <h2>Upload your goal here!</h2>
        <h4>Format: CSV file without a header, with subgoals in column 1 & corresponding descriptions in column 2.</h4>
        <h5>(Click "Modify" on any of our goals to download a sample)</h5>
        <div class="form-group">
             <input autocomplete="off" autofocus class="form-control" name="file" type="file" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Goal Name" type="text" required>
        </div>
        <div class="form-group">
            <textarea autocomplete="off" autofocus class="form-control" name="desc" rows="10" cols="30" placeholder="Description" required></textarea>
        </div>
        <div class="form-group" required>
                <select name="cat_id" id="cat_id">
                        <option value=0>Category...</option>
                        <option value=1>Educational</option>
                        <option value=2>Health</option>
                        <option value=3>Relationship</option>
                        <option value=4>Career</option>
                        <option value=5>Spiritual</option>
                        <option value=6>Financial</option>
                        <option value=7>Personal Development</option>
                        <option value=8>Other</option>
                    </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus name="private" type="checkbox" value=1>  Keep this goal private
        </div>
        <button class="btn btn-primary" type="submit" value="upload">Upload</button>
    </form>    


{% endblock %}