{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <form action="/upload" method="post" enctype=multipart/form-data>
        <h1>Upload your goal here!</h1>
        <br>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Goal Name" type="text" required>
        </div>
        <div class="form-group">
            <textarea autocomplete="off" autofocus class="form-control" name="desc" rows="10" cols="30" placeholder="Description" required></textarea>
        </div>
        <div class="form-group" required>
                <select name="cat_id" id="cat_id">
                        <option value=0>Category...</option>
                        <option value=1>Educational</option>
                        <option value=2>Health</option>
                        <option value=3>Relationship</option>
                        <option value=4>Career</option>
                        <option value=5>Spiritual</option>
                        <option value=6>Financial</option>
                        <option value=7>Personal Development</option>
                        <option value=8>Other</option>
                    </select>
        </div>
        {% if current_user.is_authenticated %}
            <div class="form-group">
                <input autocomplete="off" autofocus name="private" type="checkbox" value=1>  Keep this goal private
            </div>
        {% endif %}
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="file" type="file" required>
        </div>
        <b>Format:</b> CSV file without a header, with subgoals in column 1 & corresponding descriptions (optional) in column 2. 
        <br>(Click "Download & Modify" on any of our <a href="\browse">goals</a> to download a sample)
        <br><button class="btn btn-primary" type="submit" value="upload">Upload</button>
    </form>    


{% endblock %}